# Entorno Virtual
venv/
.venv/
env/

# Archivos compilados de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración del IDE (VS Code, PyCharm, etc.)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / distribution folders
build/
dist/

# Python packaging
*.egg-info/

# Variables de entorno secretas (Credenciales de BD)
.env